!!!
%html
  %head
    %title FlanSite
    %link(rel="stylesheet" href="css/normalise.css")
    %link(rel="stylesheet" href="css/foundation.min.css")
    %script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(type="text/javascript" src="js/foundation.min.js")
  %body
    = yield
